<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelHub</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
    <title>PixelHub</title>
    <style>
        .example {
            background: rgba(255, 255, 255, 0.2);
            -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
            box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
        }

        .light-shadow {
            box-shadow: 10px 10px 10px rgba(114, 111, 111, 0.69);
        }
    </style>
</head>
<body class="bg-dark">

<header class="py-1" style="background: url('./images/code.jpg') no-repeat center fixed; background-size: auto 100%;">
    <div class="container px-1 text-white">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="my-5 text-center wow animate__animated animate__fadeIn">
                <br>
                <br>
                <div class="container" style="width: 500px">
                    <div class="card example">
                        <div class="card-body text-white">
                            <h1><strong>PixelHub | Git Repo</strong></h1>
                            <h5>像素仓库 - 远程代码托管平台</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container">
        <div class="card bg-dark light-shadow">
            <div class="card-body text-center">
                <h1 class="card-text text-light">404 Not Found</h1>
                <hr style="border: 1px  solid #ffffff;">
                <p class="card-text text-light">
                    This is not a web page.
                    Please check your URL
                </p>
                <br>
                <hr style="border: 1px  solid #ffffff;">
                <a class="btn btn-dark" href="/">Home</a>
            </div>
        </div>
    </div>
</section>

<footer class="panel-footer" style="width: 100%; overflow: hidden;">
    <div class="container">
        <hr style="border: 1px  solid #000000;">
        <p class="text-light text-center">Copyright 2024 by 像素工坊 All rights reserved. 像素云网络 版权所有</p>
    </div>
</footer>

<script type="text/javascript" src="./js/bootstrap.js"></script>
<script type="text/javascript" src="./js/wow.js"></script>

<script type="text/javascript">new WOW().init();</script>

</body>
</html>