<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelHub | 500 Page</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="icon" type="image/x-icon" href="./images/logo.png">
</head>
<body>

<header class="py-3">
    <div class="container px-1 ">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="my-5 text-center">
                <br>
                <br>
                <h1 class="fw-bold">PixelHub | GitRepo</h1>
                <h3 class="fw-light">像素仓库 - 远程代码托管平台</h3>
            </div>
        </div>
    </div>
</header>

<section class="py-5 h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="col-auto">
                <div class="card border-light">
                    <div class="card-body ">
                        <h1 class="card-text">
                            500 Server Error
                        </h1>
                        <hr class="text-center">
                        <p class="card-text fw-light">
                            GitServer throw a exception,
                            Please call website administrator.
                        </p>
                        <a class="btn btn-dark" href="/static">Home</a>
                        <br>
                        <br>
                        <br>
                        <form method="POST" action="/search" novalidate="">
                            <div class="form-group">
                                <label for="search" class="fw-light">Search Repo | 搜索仓库
                                </label>
                                <div class="row g-3">
                                    <div class="col-auto">
                                        <input id="search" type="text" class="form-control border-dark-subtle"
                                               name="search"
                                               required data-eye>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-dark w-100 p-2">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="panel-footer" style="width: 100%; overflow: hidden;">
    <div class="container">
        <hr style="border: 1px  solid #000000;">
        <p class="text-center">Copyright 2024 by 像素工坊 All rights reserved. 像素云网络 版权所有</p>
    </div>
</footer>

<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/wow.js"></script>

<script type="text/javascript">new WOW().init();</script>

</body>
</html>