<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelHub | SignUp</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./css/animate.min.css">
</head>
<script>
    function validateForm() {
        let username = document.getElementById("username").value.toString().trim();
        let email = document.getElementById("email").value.toString().trim();
        let password = document.getElementById("password").value.toString().trim();
        if(username === ""){
            document.getElementById("warn").innerHTML="用户名不得为空!";
            return false;
        }
        if(email === ""){
            document.getElementById("warn").innerHTML="邮箱不得为空!";
            return false;
        }
        if(password === ""){
            document.getElementById("warn").innerHTML="密码不得为空!";
            return false;
        }
        return true;
    }
</script>
<body>

<header class="py-3">
    <div class="container px-1 ">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="my-5 text-center">
                <br>
                <br>
                <h1 class="fw-bold">PixelHub | GitRepo</h1>
                <h3 class="fw-light">像素仓库 - 远程代码托管平台</h3>
            </div>
        </div>
    </div>
</header>

<section class="py-5 h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card border-0" style="width: 400px;">
                <div class="card-body">
                    <h1 class="fw-light">SignUp | 注册</h1>
                    <br>
                    <p id="warn" class="fw-light text-danger"></p>
                    <form onsubmit="return validateForm()" method="POST" action="/access/register"  novalidate="">
                        <div class="form-group">
                            <label for="email" class="fw-light">Name | 用户名</label>
                            <input id="username" type="text" class="form-control border-dark-subtle" name="username" value="" required
                                   autofocus>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="email" class="fw-light">E-Mail | 邮箱</label>
                            <input id="email" type="email" class="form-control border-dark-subtle" name="email" value="" required
                                   autofocus>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="password" class="fw-light">
                                Password | 密码
                            </label>
                            <input id="password" type="password" class="form-control border-dark-subtle" name="password" required data-eye>
                        </div>
                        <hr>
                        <div class="form-group m-0">
                            <button type="submit" class="btn btn-dark w-100 p-2">
                                Register
                            </button>
                        </div>
                        <div class="mt-4 text-center">
                            Already have an account?<a href="/signin">SignIn</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="panel-footer" style="width: 100%; overflow: hidden;">
    <div class="container">
        <hr style="border: 1px  solid #000000;">
        <p class=" text-center">Copyright 2024 by 像素工坊 All rights reserved. 像素云网络 版权所有</p>
    </div>
</footer>

<script type="text/javascript" src="./js/bootstrap.js"></script>
<script type="text/javascript" src="./js/wow.js"></script>

<script type="text/javascript">new WOW().init();</script>
</body>
</html>