<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelHub | SignUp</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./css/animate.min.css">
    <style>
        .example {
            background: rgba(255, 255, 255, 0.2);
            -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
            box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
        }

        .dark-shadow {
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.688);
        }
    </style>
</head>
<body class="bg-dark">
<header class="py-1" style="background: url('./images/code.jpg') no-repeat center fixed; background-size: auto 100%;">
    <div class="container px-1 text-white">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="my-5 text-center wow animate__animated animate__fadeIn">
                <br>
                <br>
                <div class="container" style="width: 500px">
                    <div class="card example">
                        <div class="card-body text-white">
                            <h1><strong>PixelHub | Git Repo</strong></h1>
                            <h5>像素仓库 - 远程代码托管平台</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="py-5 h-100 bg-dark">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card bg-dark dark-shadow" style="width: 400px;">
                <div class="card-body text-white-50">
                    <h1 class="text-center">SignUp</h1>
                    <form method="POST" action="/access/login" class="my-login-validation" novalidate="">
                        <div class="form-group">
                            <label for="email">Name</label>
                            <input id="username" type="text" class="text-white-50 form-control bg-dark border-light" name="username" value="" required
                                   autofocus>
                            <div class="invalid-feedback">
                                Your name
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="email">E-Mail Address</label>
                            <input id="email" type="email" class="text-white-50 form-control bg-dark border-light" name="email" value="" required
                                   autofocus>
                            <div class="invalid-feedback">
                                Email is invalid
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="password">Password
                            </label>
                            <input id="password" type="password" class="text-white-50 form-control bg-dark border-light" name="password" required data-eye>
                            <div class="invalid-feedback">
                                Password is required
                            </div>
                        </div>
                        <hr>
                        <div class="form-group m-0">
                            <button type="submit" class="btn btn-primary btn-block">
                                Register
                            </button>
                        </div>
                        <div class="mt-4 text-center">
                            Already have an account?<a href="/signin">SignIn</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="panel-footer" style="width: 100%; overflow: hidden;">
    <div class="container">
        <hr style="border: 1px  solid #000000;">
        <p class="text-light text-center">Copyright 2024 by 像素工坊 All rights reserved. 像素云网络 版权所有</p>
    </div>
</footer>

<script type="text/javascript" src="./js/bootstrap.js"></script>
<script type="text/javascript" src="./js/wow.js"></script>

<script type="text/javascript">new WOW().init();</script>
</body>
</html>